annotated-types==0.7.0
base58==2.1.1
based58==0.1.1
beautifulsoup4==4.12.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
ciso8601==2.3.1
filelock==3.4.1
frozendict==2.4.4
grpcio==1.64.1
grpcio-tools==1.64.1
html5lib==1.1
idna==3.7
importlib_metadata==7.1.0
loguru==0.6.0
lxml==5.2.2
msgpack==1.0.8
multitasking==0.0.11
numpy==1.26.4
orjson==3.10.5
paho-mqtt==2.1.0
pandas==2.2.2
peewee==3.17.5
platformdirs==4.2.2
prometheus_client==0.20.0
protobuf==5.27.1
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
PyNaCl==1.5.0
pyrsca==0.1.1
pysolace==0.9.40
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
schedule==1.2.2
sentry-sdk==1.5.12
shioaji==1.2.3
six==1.16.0
soupsieve==2.5
toc-trade-pb-v2==0.1.10
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
webencodings==0.5.1
xxhash==3.4.1
yfinance==0.2.40
zipp==3.19.2
